<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="blocks/header.html :: header"></div>
<div class="container mt-5">
    <h1>Блог сайта</h1>
    <div th:each="el : ${posts}" class="alert alert-info mt-2">
        <h3 th:text="${el.title}"></h3>
        <p th:text="${el.anons}"></p>
        <h3 th:text="${el.fullText}"></h3>
        <a th:href="'/blog/' + ${el.id}" class="btn btn-warning">Details</a>
    </div>
</div>

<div th:insert="blocks/footer.html "></div>
</body>
</html>